---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.tsx";
---
<Layout>
  <div class="top-0 z-0 min-h-screen w-full pl-20 p-8">
    <span class="p-4 mb-2 font-mono text-sm text-gray-500 block">-// Blogs</span>
    
    <div class="mt-8 mb-[20vh]">
  
    </div>
  </div>
</Layout>
