---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.tsx";
import Section1 from "../components/Section1.tsx";
---

<Layout>
  <div class="desktop:sticky top-0 z-0 min-h-screen w-full phone:p-4 desktop:pl-20 desktop:p-8">
    <span class="p-4 mb-2 font-mono text-sm text-gray-500 block">-// About Me</span>
    <Hero client:load />
  </div>

</Layout>
