---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.tsx";
import Section1 from "../components/Section1.tsx";
---

<Layout>
  <div class="sticky top-0 z-0 h-screen w-full pl-20 p-8 overflow-hidden">
    <span className="p-4 mb-2 font-mono text-sm text-gray-500">-// About Me</span>
    <Hero client:load />
  </div>

</Layout>
