---

---

<div class="sticky z-50 top-0 left-0 h-screen w-23 p-6 flex flex-col justify-start">
  <div class="bg-base-100 h-200 pt-4 pb-8 rounded-box flex flex-col item-center justify-between text-accent">
    <div class="h-fit w-full flex items-center justify-center hover:cursor-pointer">
      <img src="/Icon Light.png" alt="branding" class="w-6" />
    </div>
    <div class="h-fit w-full flex flex-row text-nowrap text-sm font-medium font-mono align-middle rotate-270">
      <span class="pl-3 pr-3 flex items-center justify-center cursor-pointer transition-all ease-out duration-200 text-center hover:font-bold">
        <i class="not-italic">Contact</i>
      </span>
      <span class="pl-3 pr-3 flex items-center justify-center cursor-pointer transition-all ease-out duration-200 text-center hover:font-bold">
        <i class="not-italic">About me</i>
      </span>
      <span class="pl-3 pr-3 flex items-center justify-center cursor-pointer transition-all ease-out duration-200 text-center hover:font-bold">
        <i class="not-italic">Past work</i>
      </span>
      <span class="pl-3 pr-3 flex items-center justify-center cursor-pointer transition-all ease-out duration-200 text-center hover:font-bold">
        <i class="not-italic">Skills</i>
      </span>
    </div>
  </div>
  <div class="h-150 w-full flex flex-col justify-end">
    <div class="bg-base-100 w-full mt-2 aspect-square rounded-box flex item-center justify-center text-accent cursor-pointer transition-all ease-in-out duration-[0.3s] hover:scale-125">
      <img src="/github.svg" alt="github icon" class="w-6" />
    </div>
    <div class="bg-base-100 w-full mt-2 aspect-square rounded-box flex item-center justify-center text-accent cursor-pointer transition-all ease-in-out duration-[0.3s] hover:scale-125">
      <img src="/linkedin.svg" alt="linkedin icon" class="w-6" />
    </div>
  </div>
</div>
